* {
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/bg-body.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  z-index: 1;
  color: #fff;
}
body::after {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}
.box {
  position: absolute;
  padding: 50px 0;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 50%; */
  text-align: center;
  border-radius: 5px;
}
.box h2 {
  font-size: 60px;
}
.box .allDate {
  margin: 40px 0;
  p {
    font-size: 40px;
  }
}
.box .date {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    margin: 30px 10px;
    padding: 7px;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  .box {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
  }
  .box .date {
    div {
      margin: 30px 10px;
      padding: 7px;
      border: 1px solid red;
      border-radius: 5px;
      font-size: 20px;
    }
  }
}
